In [1]:
import findspark
findspark.init()
import pyspark

In [2]:
pyspark.__file__

'/home/furix/spark/spark-3.4.4-bin-hadoop3/python/pyspark/__init__.py'

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

25/03/02 12:33:27 WARN Utils: Your hostname, furix-Z690-UD-DDR4 resolves to a loopback address: 127.0.1.1; using 192.168.1.40 instead (on interface enp9s0)
25/03/02 12:33:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/02 12:33:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2025-03-02 13:33:31--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 3.5.16.5, 3.5.30.107, 3.5.23.144, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|3.5.16.5|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2025-03-02 13:33:32 ERROR 403: Forbidden.

In [6]:
!head taxi+_zone_lookup.csv

head: cannot open 'taxi+_zone_lookup.csv' for reading: No such file or directory

In [8]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [9]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [10]:
df.write.parquet('zones')

In [11]:
!ls -lh

total 718M
-rw-rw-r-- 1 furix furix 7.7K Mar  2 13:32 03_test.ipynb
-rw-rw-r-- 1 furix furix 5.7K Mar  1 18:47 06_spark_sql.ipynb
-rw-rw-r-- 1 furix furix 5.4K Mar  1 18:47 07_groupby_join.ipynb
drwxrwxr-x 5 furix furix 4.0K Mar  1 18:15 data
-rwxrwxr-x 1 furix furix  544 Mar  1 15:53 download_data.sh
drwxr-xr-x 3 furix furix 4.0K Feb 27 18:08 fhvhv
-rw-r--r-- 1 furix furix 718M Jul 14  2022 fhvhv_tripdata_2021-01.csv
-rw-rw-r-- 1 furix furix  678 Feb 27 17:56 head.csv
-rw-rw-r-- 1 furix furix 5.3K Mar  1 16:35 spark_follow.ipynb
-rw-rw-r-- 1 furix furix  50K Mar  1 16:47 spark_prep_data.ipynb
-rw-rw-r-- 1 furix furix  13K Mar  2 13:34 taxi_zone_lookup.csv
drwxr-xr-x 2 furix furix 4.0K Mar  2 13:35 zones